{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
                <div class="inner cover text-success">
                    <h1 class="cover-heading">Agendamento de Quadras</h1>
                    <p class="lead">Agende um horário em uma das quadras usando esse Sistema. Feito usando Flask,
                        WTForms, Bootstrap, SQLAlchemy e Postgresql.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
